<!DOCTYPE html>
<html lang="ru">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-46255825-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-46255825-2');
</script>

	<title>Контакты, как к нам добраться</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if lte IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->

			<link rel="shortcut icon" href="..\assets\favicon.ico">
	<!--    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>-->
	<link rel="stylesheet" href="..\assets\poiskpro.scss">
	<link rel="stylesheet" href="..\assets\twenty.scss">
	<link rel="stylesheet" href="..\assets\animate.scss">
	<link rel="stylesheet" href="..\assets\s1.scss">
	<!--<link rel="stylesheet" href="/include/css/dop_s1.css"/>-->

	<script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
</head>
<body class="body_s1">
<!--<div class="holiday"><img alt="Баннер" src="/upload/template/image/Banner-9-may.png"></div>-->
<!--<div class="wrapper_link">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="link_block">
                    <div class="inner_link_block">
                        <p class="text">При оформлении <strong>онлайн - записи</strong> с сайта</p>
                        <p class="discont">-10<span>%</span></p>
                    </div>
                    <div class="close_link"></div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<div id="page-wrapper" class="page-wrapper">
			<header id="header" class="wrapper header">
			<div class="top-header">
				<div class="social-icon">
					<ul>
	<li> <a href="https://www.instagram.com/salon.saxap/" rel="nofollow"><i class="mdi mdi-instagram"></i></a> </li>
</ul>				</div>
				<div class="header-info">
					<div class="container">
						<!--<img alt="Баннер" src="/upload/template/image/dog.png" style="height: 60px;" />-->
	                                    <!--<img src="/upload/template/image/8_march.png" style="height: 60px;" />-->
						<!--<img alt="Баннер" src="/upload/template/image/hurt.png"/>-->
												<div class="inf-header infh-time">
							9:00 - 21:00						</div>
						<div class="inf-header infh-address">
							Томск, Барнаул						</div>
					</div>
				</div>
				<div class="header-tel">
					<a onclick="ym(25978465, 'reachGoal', 'header_phone'); return true;" href="tel:+79999999999">+7 (999) 999-99-99</a>				</div>
			</div>

	<!--		<div class="bot-header february-23">-->
			<div class="bot-header">
				<div class="header-btn open-nav"></div>
				<div class="container">
					<div class="logo-block">
						<a href="..\">

							<img src="..\assets\logo-top.png" alt="Салон Сахар">						</a>
					</div>
					<div class="top-nav">






<ul>

                            <li>
                                <a href="..\price">Цены</a>
                            </li>














                            <li>
                                <a href="..\actions">Акции</a>
                            </li>














                            <li>
                                <a href="..\contacts" class="active">Контакты</a>
                            </li>









                    </ul>

					</div>
				</div>
			</div>
		</header>

				    <section class="contact-wrapper wrapper">
    <div align="container">
        <div class="title-wrapper">
            <div class="title-wrapper__inner">
                <div class="title-wrapper__header">
                    <img src="..\assets\title-section.png" alt="Раздел">
                </div>
                <div class="title-wrapper__title">
                    Томск
                </div>
                <div class="title-wrapper__footer">
                    Как нас найти
                </div>

            </div>
        </div>
        <div align="center">
            <div class="row">
                    <div class="contact-wrap">
                        <div class="contact-list">
                            <ul>
                             <li class="contact-address">
                                    Адрес </li>
                                <li class="contact-tel">
                                    <a onclick="ym(25978465, 'reachGoal', 'cv_tel'); return true;" href="tel:+79999999999">+9 (999) 999-99-99</a> </li>
                                <li class="contact-time">
                                    9:00 — 21:00 </li>
                                <li class="map_img">

 <br>
<h4 class="h4_contacts">Как добраться</h4>
 <a class="fancybox" href="..\assets\medialibrary\c74\c74e1332caeb3ef92473d239448c05fa.jpeg"><img width="410" alt="cv.jpeg" src="..\assets\medialibrary\c74\c74e1332caeb3ef92473d239448c05fa.jpeg" height="288" title="cv.jpeg" align="middle"></a> </li>
                            </ul>
                        </div>
                    </div>



<br>
</br>

<!--                -->
        </div>
        <div class="title-wrapper">
            <div class="title-wrapper__inner">
                <div class="title-wrapper__header">
                    <img src="..\assets\title-section.png" alt="Раздел">
                </div>
                <div class="title-wrapper__title">
                    Барнаул
                </div>
                <div class="title-wrapper__footer">
                    Как нас найти
                </div>
            </div>
        </div>

        <div class="top-conta ct-block">
            <div class="row">
                    <div class="contact-wrap">
                        <div class="contact-list">
                            <ul>
                                <li class="contact-address">
                                    Адрес </li>
                                <li class="contact-tel">
                                    <a onclick="ym(25978465, 'reachGoal', 'cv_tel'); return true;" href="tel:+79999999999">+9 (999) 999-99-99</a> </li>
                                <li class="contact-time">
                                    9:00 — 21:00 </li>
                                <li class="map_img">

 <br>
<h4 class="h4_contacts">Как добраться</h4>
 <a class="fancybox" href="..\assets\medialibrary\c74\c74e1332caeb3ef92473d239448c05fa.jpeg"><img width="410" alt="cv.jpeg" src="..\assets\medialibrary\c74\c74e1332caeb3ef92473d239448c05fa.jpeg" height="288" title="cv.jpeg" align="middle"></a> </li>
                            </ul>
                        </div>
                    </div>



<br>
</br>

<!--                -->
            </div>
        </div>
        <div class="social-contact-block">
            <div class="social-contact-inner">
                <span>мы в соц. сетях</span> <ul>
	<li><a href="https://www.instagram.com/salon.saxap/"><i class="mdi mdi-instagram"></i></a></li>

</ul>            </div>
        </div>
    </div>
    <div class="map-container">
        <script type="text/javascript" charset="utf-8" async="" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ad179badd1ce1962f346f55b4e2eae1fe1656ddf5cafabaa99507fa45a92ae448&width=100%25&height=633&lang=ru_RU&scroll=true"></script>    </div>
    </section>
<script type="text/javascript">if (window.location.hash != '' && window.location.hash != '#') top.BX.ajax.history.checkRedirectStart('bxajaxid', '7f5383c63be0d41bf9cba9c9048b6961')</script><div id="comp_7f5383c63be0d41bf9cba9c9048b6961">
<section class="banner-wrapper wrapper banner-bottom banner-contact">
    <div class="container">
        <div class="row">
			<div class="col-xs-12 col-md-6">
                                    <div class="text-banner">
                        <div class="title-banner">
                            Оставь заявку и получи скидку 10%</div>
<p style="text-align: left; color: #ffffff; font-size: 10pt;"><em>*Скидка действует только на Адрес и на Адрес</em></p>
                        <div class="content-banner">
                        </div>
                    </div>
                			</div>
			<div class="col-xs-12 col-md-6">
				<div class="banner-form">
				<img class="girl-form" src="..\assets\girl-banner.png">
					<div class="banner-form-container">
						<div class="message">
																		</div>

<form onsubmit="yaCounter51199235.reachGoal('zapis_priem'); return true;" action="/contacts/" method="POST"><input type="hidden" name="bxajaxid" id="bxajaxid_7f5383c63be0d41bf9cba9c9048b6961_8BACKi" value="7f5383c63be0d41bf9cba9c9048b6961"><input type="hidden" name="AJAX_CALL" value="Y"><script type="text/javascript">
function _processform_8BACKi(){
	var obForm = top.BX('bxajaxid_7f5383c63be0d41bf9cba9c9048b6961_8BACKi').form;
	top.BX.bind(obForm, 'submit', function() {BX.ajax.submitComponentForm(this, 'comp_7f5383c63be0d41bf9cba9c9048b6961', true)});
	top.BX.removeCustomEvent('onAjaxSuccess', _processform_8BACKi);
}
if (top.BX('bxajaxid_7f5383c63be0d41bf9cba9c9048b6961_8BACKi'))
	_processform_8BACKi();
else
	top.BX.addCustomEvent('onAjaxSuccess', _processform_8BACKi);
</script>
							<input type="hidden" name="sessid" id="sessid" value="40c8766cec507d51e9bd781038c629c7">							<input type="text" placeholder="Имя" name="user_name" value="">
							<input type="tel" placeholder="Телефон" name="user_phone" value="">
														<div class="select-container">
								<select name="user_about">
									<option disabled="" selected="">Выберите салон</option>
																			<option value="1">Адрес</option>
																			<option value="2">Адрес</option>
																	</select>
							</div>

							<label for="submit-banner">
								<input type="hidden" name="PARAMS_HASH" value="07fb24f5fde27de6cd6bc7950412df85">
                                                                								<input id="submit-banner" type="submit" value="Записаться" onclick="yaCounter25978465.reachGoal('zajavka_sait');ga('send', 'event', 'Zajavka','Zapisatsa_sait');return true;">
							</label>
                                                    <div class="polite">
                                                        <div class="">
                                                                                                                        <input name="polite" id="ytFeedback_polite_166363" value="1" type="checkbox" required=""><label for="ytFeedback_polite_166363">Я подтверждаю свое согласие на*:</label>
                                                        <ul>
                                                            <li>На использование в качестве каналов передачи информации, содержащейся в заявке, открытых каналов связи сети Интернет</li>
                                                            <li>На обработку моих персональных данных в соответствии с федеральным законом РФ от 27.07.2006 №152-Ф3 "О персональных данных"</li>
                                                        </ul>
                                                        </div>
                                                    </div>
						</form>
					</div>
				</div>
			</div>
		</div>
    </div>
</section></div><script type="text/javascript">if (top.BX.ajax.history.bHashCollision) top.BX.ajax.history.checkRedirectFinish('bxajaxid', '7f5383c63be0d41bf9cba9c9048b6961');</script><script type="text/javascript">top.BX.ready(BX.defer(function() {window.AJAX_PAGE_STATE = new top.BX.ajax.component('comp_7f5383c63be0d41bf9cba9c9048b6961'); top.BX.ajax.history.init(window.AJAX_PAGE_STATE);}))</script>


		</div>

<footer id="footer" class="wrapper footer">
    <div class="scroll-to-top"></div>
    <div class="top-footer">
        <div class="footer-wrap logo-footer">
            <a href="..\">

				<img src="..\assets\footer-logo.png" alt="Салон Сахар">
            </a>
            <div class="social-icon">
				<ul>
	<li> <a href="https://www.instagram.com/salon.saxap/" rel="nofollow"><i class="mdi mdi-instagram"></i></a> </li>
</ul>            </div>
        </div>
        <div class="footer-wrap footer-nav">
            <div class="title-footer">
                Меню
            </div>
            <div class="footer-list">





<ul>



  <li>
		<a href="..\price">Цены</a>
    </li>



    <li>
		<a href="..\actions">Акции</a>
    </li>



    <li>
		<a href="..\contacts" class="active">Контакты</a>
    </li>


</ul>


            </div>
        </div>
        <div class="footer-wrap footer-contact">
            <div class="title-footer">
                Контакты
            </div>
            <div class="contact-left">
                <ul>
                    <li class="footer-address">
						<span>Томск</span>
        <span>Барнаул</span>            </li>
                </ul>
            </div>
            <div class="contact-right">
                <ul>
                    <li class="footer-tel">
						<a href="tel:89999999999">8 (999) 999 99 99</a>                    </li>
                    <li class="footer-time">
						<span>ПН-ВС&nbsp; &nbsp; 9:00 - 21:00</span>					</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
	<!-- scripts
___________________________________________________________________________-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="..\assets\ie-detector.js"></script>
<script src="..\assets\common.js"></script>
<script src="..\assets\dop.js"></script>

<!-- BEGIN CLICKTEX CODE {literal} -->
<script type="text/javascript" charset="utf-8" async="async" src="//www.clicktex.ru/code/33166"></script>
<!-- {/literal} END CLICKTEX CODE -->
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'F57J1aSwNC';var d=document;var w=window;function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
<!-- {/literal} END JIVOSITE CODE -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(25978465, "init", {
        id:25978465,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/25978465" style="position:absolute; left:-9999px;" alt=""></div></noscript>
<!-- /Yandex.Metrika counter -->
    <!-- BEGIN CLICKTEX CODE {literal} -->
    <script type="text/javascript" charset="utf-8" async="async" src="//code.clicktex.ru/33166"></script>
    <!-- {/literal} END CLICKTEX CODE -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="..\assets\application.css">
	<script src="..\assets\ie-detector.js"></script>
	<script src="..\assets\modernizr.js"></script>

	<script src="..\assets\libs.js"></script>
    <script src="..\assets\jquery.event.move.js"></script>
    <script src="..\assets\jquery.twentytwenty.js"></script>

    <script src="..\assets\custom.js"></script>
<style></style></body></html>
