<!DOCTYPE html>
<html lang="ru">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-46255825-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-46255825-2');
</script>


<script type="text/javascript">var _ba = _ba || []; _ba.push(["aid", "20cb938780615553eb2c423b1de465fa"]); _ba.push(["host", "xn--80aaa6bkfrbe5b.xn--p1ai"]); (function() {var ba = document.createElement("script"); ba.type = "text/javascript"; ba.async = true;ba.src = (document.location.protocol == "https:" ? "https://" : "http://") + "bitrix.info/ba.js";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(ba, s);})();</script>


	<title>Лазерная эпиляция в Томске и Барнауле</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if lte IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->

			<link rel="shortcut icon" href="..\..\assets\favicon.ico">
	<!--    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>-->
	<link rel="stylesheet" href="..\..\assets\poiskpro.css?=12071824">
	<link rel="stylesheet" href="..\..\assets\twenty.css">
	<link rel="stylesheet" href="..\..\assets\animate.css">
	<link rel="stylesheet" href="..\..\assets\s1.css">
	<!--<link rel="stylesheet" href="/include/css/dop_s1.css"/>-->

	<script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
</head>
<body class="body_s1">
<!--<div class="holiday"><img alt="Баннер" src="/upload/template/image/Banner-9-may.png"></div>-->
<!--<div class="wrapper_link">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="link_block">
                    <div class="inner_link_block">
                        <p class="text">При оформлении <strong>онлайн - записи</strong> с сайта</p>
                        <p class="discont">-10<span>%</span></p>
                    </div>
                    <div class="close_link"></div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<div id="page-wrapper" class="page-wrapper">
			<header id="header" class="wrapper header">
			<div class="top-header">
				<div class="social-icon">
					<ul>
	<li> <a href="https://www.instagram.com/salon.saxap/" rel="nofollow"><i class="mdi mdi-instagram"></i></a>
  </li>
</ul>				</div>
				<div class="header-info">
					<div class="container">
						<!--<img alt="Баннер" src="/upload/template/image/dog.png" style="height: 60px;" />-->
	                                    <!--<img src="/upload/template/image/8_march.png" style="height: 60px;" />-->
						<!--<img alt="Баннер" src="/upload/template/image/hurt.png"/>-->
												<div class="inf-header infh-time">
							9:00 - 21:00						</div>
						<div class="inf-header infh-address">
							Томск, Барнаул						</div>
						</div>
				</div>
				<div class="header-tel">
					<a onclick="ym(25978465, 'reachGoal', 'header_phone'); return true;" href="tel:+79999999999">+7 (999) 999-99-99</a>				</div>
			</div>

	<!--		<div class="bot-header february-23">-->
			<div class="bot-header">
				<div class="header-btn open-nav"></div>
				<div class="container">
					<div class="logo-block">
						<a href="..\..\index.html.erb">

							<img src="..\..\assets\logo-top.png" alt="Салон Сахар">						</a>
					</div>
					<div class="top-nav">






<ul>





                        <li class="sub-nav2">
                <div class="sub-nav-block">
                    <ul class="sub-nav-list">



                </ul></div></li>






<li class="sub-nav">
    <div class="sub-nav-block">
        <ul class="sub-nav-list">





    </div>






                            <li>
                                <a href="..\..\price">Цены</a>
                            </li>














                            <li>
                                <a href="..\..\actions">Акции</a>
                            </li>






                            <li>
                                <a href="..\..\contacts">Контакты</a>
                            </li>









                    </ul>

					</div>
				</div>
			</div>
		</header>


<script>

$('#page-body').addClass('service-direction-body');

</script>




<section class="service-direction-wrapper wrapper">
	<div class="container">

		<div class="title-wrapper">
			<div class="title-wrapper__inner">
				<div class="title-wrapper__header">
					<span><img src="..\..\assets\title-section.png" alt="Листик"></span>
				</div>
				<div class="title-wrapper__title">
					Лазерная Эпиляция				</div>
				<div class="title-wrapper__footer">
					<span>По отзывам, самая эффективная процедура в борьбе с нежелательной растительностью</span>
				</div>
			</div>
        </div>
		<div class="service-direction-top">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<div class="service-direction-top__image">

						<img src="..\..\assets\iblock\4da\4da1ee03d4546cae4ac6c26e447f7ead.jpg" alt="">

											</div>
				</div>
				<div class="col-xs-12 col-md-6  ">
                                    <div class="service-direction-top__text">
                                                                                                                <div class="title-block">
	 <h1>Лазерная Эпиляция</h1>

</div>
<div class="text-block">
	<p>
		 Лазерная эпиляция – одна из самых популярных процедур косметических и медицинских салонов, позволяющая избавиться от лишних волос, сделав их менее заметными, подчеркнув красоту тела.
	</p>
	<p>
		 Принцип действия эпиляции связан с передачей лазерным лучом тепловой энергии в область расположения фоликулы, из которой растет каждый волос. Лучи лазера поглощаются темным пигментом (меланином), разрушая его и нарушая нормальный рост.
	</p>
	<p>
		 Приглашаем пройти процедуру лазерной эпиляции в одном из наших салонов и лично ознакомиться со всеми преимуществами инновационной системы 1S PRO
	</p>
</div>
 <br>                                                                        </div>
				</div>
			</div>
        </div>

	</div>

</section>








	<section class="service-price-wrapper wrapper">
		<div class="container">
			<div class="title-wrapper">
				<div class="title-wrapper__inner">
					<div class="title-wrapper__header">
						<span>
							<img src="..\..\assets\iblock\451\451078d1f5a0c08245e46cb11304ccb8.png" alt="Прайсы">
						</span>
					</div>
					<div class="title-wrapper__title">
						Прайсы					</div>
					<div class="title-wrapper__footer">
						<span>Стоимость услуги</span>
					</div>
				</div>
			</div>

			<div class="service-price test4">
				<div class="price-wrap">
					<div class="title-table">
						<div class="left-block">
							Название процедуры
						</div>
						<div class="center-block">
							Длительность, мин.
						</div>
						<div class="right-block">
							Цена, руб.
						</div>
					</div>
					<div class="price-table">
						<div class="price-wrap-table">
							<table>
								<tbody>
																	<tr>
										<td colspan="3"><span>Лазерная эпиляция</span></td>
									</tr>
																		<tr>
										<td>Подмышечная впадина</td>
										<td>20</td>
										<td>900</td>
									</tr>
																		<tr>
										<td>Бикини (трусики)</td>
										<td>15</td>
										<td>1500</td>
									</tr>
																		<tr>
										<td>Бикини(глубокое)</td>
										<td>15</td>
										<td>3000</td>
									</tr>
																		<tr>
										<td>Ноги до колен</td>
										<td>40</td>
										<td>3000</td>
									</tr>
																		<tr>
										<td>Ноги выше колен</td>
										<td>40</td>
										<td>3000</td>
									</tr>
																		<tr>
										<td>Ноги полностью</td>
										<td>40</td>
										<td>5000</td>
									</tr>
																		<tr>
										<td>Руки до локтя</td>
										<td>30</td>
										<td>1500</td>
									</tr>
																		<tr>
										<td>Руки полностью</td>
										<td>40</td>
										<td>3000</td>
									</tr>
																		<tr>
										<td>Зона лица</td>
										<td>15</td>
										<td>700</td>
									</tr>
																		<tr>
										<td>Живот, ягодицы, спина</td>
										<td>30</td>
										<td>700-3000</td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section>


<script type="text/javascript">if (window.location.hash != '' && window.location.hash != '#') top.BX.ajax.history.checkRedirectStart('bxajaxid', '1fc0c39edf616e9484e73580b3ae7eda')</script><div id="comp_1fc0c39edf616e9484e73580b3ae7eda">
<section class="banner-wrapper wrapper">
    <div class="container">
        <div class="row">
			<div class="col-xs-12 col-md-6">
                                    <div class="text-banner">
                        <div class="title-banner">
                            Оставь заявку и получи скидку 10%</div>
<p style="text-align: left; color: #ffffff; font-size: 10pt;"><em>*Скидка действует только на "пример" и на "Пример"</em></p>
                        <div class="content-banner">
                        </div>
                    </div>
                			</div>
			<div class="col-xs-12 col-md-6">
				<div class="banner-form">
				<img class="girl-form" src="..\..\assets\girl-banner.png">
					<div class="banner-form-container">
						<div class="message">
																		</div>

<form onsubmit="yaCounter51199235.reachGoal('zapis_priem'); return true;" action="/services-and-prices/lazernaya-epilyaciya/" method="POST"><input type="hidden" name="bxajaxid" id="bxajaxid_1fc0c39edf616e9484e73580b3ae7eda_8BACKi" value="1fc0c39edf616e9484e73580b3ae7eda"><input type="hidden" name="AJAX_CALL" value="Y"><script type="text/javascript">
function _processform_8BACKi(){
	var obForm = top.BX('bxajaxid_1fc0c39edf616e9484e73580b3ae7eda_8BACKi').form;
	top.BX.bind(obForm, 'submit', function() {BX.ajax.submitComponentForm(this, 'comp_1fc0c39edf616e9484e73580b3ae7eda', true)});
	top.BX.removeCustomEvent('onAjaxSuccess', _processform_8BACKi);
}
if (top.BX('bxajaxid_1fc0c39edf616e9484e73580b3ae7eda_8BACKi'))
	_processform_8BACKi();
else
	top.BX.addCustomEvent('onAjaxSuccess', _processform_8BACKi);
</script>
							<input type="hidden" name="sessid" id="sessid" value="40c8766cec507d51e9bd781038c629c7">							<input type="text" placeholder="Имя" name="user_name" value="">
							<input type="tel" placeholder="Телефон" name="user_phone" value="">
														<div class="select-container">
								<select name="user_about">
									<option disabled="" selected="">Выберите салон</option>
																			<option value="1">Томск</option>
																			<option value="2">Барнаул</option>
																	</select>
							</div>

							<label for="submit-banner">
								<input type="hidden" name="PARAMS_HASH" value="e02c866ab541c8db28cd3287c29db9be">
                                                                								<input id="submit-banner" type="submit" value="Записаться" onclick="yaCounter25978465.reachGoal('zajavka_sait');ga('send', 'event', 'Zajavka','Zapisatsa_sait');return true;">
							</label>
                                                    <div class="polite">
                                                        <div class="">
                                                                                                                        <input name="polite" id="ytFeedback_polite_771302" value="1" type="checkbox" required=""><label for="ytFeedback_polite_771302">Я подтверждаю свое согласие на*:</label>
                                                        <ul>
                                                            <li>На использование в качестве каналов передачи информации, содержащейся в заявке, открытых каналов связи сети Интернет</li>
                                                            <li>На обработку моих персональных данных в соответствии с федеральным законом РФ от 27.07.2006 №152-Ф3 "О персональных данных"</li>
                                                        </ul>
                                                        </div>
                                                    </div>
						</form>
					</div>
				</div>
			</div>
		</div>
    </div>
</section></div><script type="text/javascript">if (top.BX.ajax.history.bHashCollision) top.BX.ajax.history.checkRedirectFinish('bxajaxid', '1fc0c39edf616e9484e73580b3ae7eda');</script><script type="text/javascript">top.BX.ready(BX.defer(function() {window.AJAX_PAGE_STATE = new top.BX.ajax.component('comp_1fc0c39edf616e9484e73580b3ae7eda'); top.BX.ajax.history.init(window.AJAX_PAGE_STATE);}))</script>








<section class="service-about-wrapper wrapper mb75">
	<div class="container">
		<div class="service-about-info my_service-about">
			<div class="row">
				<div class="col-xs-12">
					<div class="text-block">
						<div class="title-block">
	 <h2>Преимущества процедуры</h2>
</div>
<br>
<p>
	 Избавиться раз и навсегда от нежелательной растительности на лице и теле – мечта каждой девушки!
</p>
<p>
	 К бесспорным достоинствам лазерной эпиляции в салоне необходимо отнести следующие моменты:
</p>
<div class="list-block">
	<ul>
		<li>отсутствие видимых повреждений на коже (шрамы, рубцы);</li>
		<li>минимум неприятных ощущений;</li>
		<li>малая продолжительность сеанса;</li>
		<li>длительность эффекта (конкретный срок определяется контрастом волос с цветом кожи)</li>
	</ul>
</div>
<div class="title-block mTop40">
	 <h2>Лазерная эпиляция в салоне красоты «Сахар»</h2>
</div>
<div class="content-block">
	<p>
		 Наилучший результат достигается при наличии контраста (темные волосы и светлый цвет кожи). В этом случае максимум энергии поглощается именно волосами, что и обеспечивает должный эффект. Также желательно, чтобы на момент начала процедуры длина отдельных волосков составляла 3-5 мм и они были видны на поверхности, находясь в фазе активного роста, что обеспечит наилучшее воздействие на волосяные луковицы. Часть последних всегда в «спящем» состоянии, поэтому удаление подразумевает прохождение нескольких сеансов и не стоит расстраиваться, если через какое-то время после первой процедуры вновь начнется рост волос.
	</p>
</div>
<div class="title-block mTop40">
	 <h2>Основные этапы процедуры</h2>
</div>
<div class="content-block">
	<p>
		 Если вы хотите сделать лазерную эпиляцию в Москве, то в салоне сначала обязательно идет предварительный осмотр обрабатываемых участков кожи. От процедуры необходимо отказаться при наличии на интересующих местах загара или инфекционных заболеваний. Желательно сначала оценить результат на небольшом тестовом участке кожи (особенно это актуально для тонких светлых волос). При наличии хорошего эффекта эпиляцию можно производить на всей обрабатываемой поверхности.
	</p>
	<p>
		 Продолжительность сеанса определяется площадью зоны. В общем случае при обработке самых популярных из них можно ориентироваться на следующие цифры:
	</p>
	<div class="list-block">
		<ul>
			<li>область верхней губы (зона усиков) – 10-12 минут;</li>
			<li>район бикини – 15-20 минут;</li>
			<li>поверхность бедер – 1 час.</li>
		</ul>
	</div>
	<p>
		 Сама процедура ведется с охлаждением или местным обезболиванием (используют гель с лидокаином) для снижения неприятного эффекта. Также во время эпиляции обязательна защита глаз пациента очками.
	</p>
</div>
<p style="text-align: center;">
 <img width="630" alt="Принцип действия лазерной эпиляции" src="..\..\assets\medialibrary\629\6291cc4382cdd3c906c58eeef959b919.jpg" height="253" title="epilyaciya-princip-dejstviya.jpg">
</p>

<h2>Что происходит после процедуры</h2>
<div class="content-block">
	<p>
		 Когда лазерная эпиляция Китай-город завершается, на кожу наносится защитный крем, который оградит ее от ультрафиолета и других внешних негативных факторов.
	</p>
	<p>
		 В первое время после сеанса необходимо соблюдать следующие правила:
	</p>
	<div class="list-block">
		<ul>
			<li>на улицу в солнечный выходить только после защиты кожи кремом;</li>
			<li>отказаться от приема антибиотиков, гормональных и других препаратов;</li>
			<li>прекратить временно посещение сауны, солярия или бани;</li>
			<li>сдирать корочки на коже.</li>
		</ul>
	</div>
	<p>
		 Срок очередного сеанса определяется местом обработки кожи, сложностью ситуации и обычно составляет около месяца. В случае, если процедуру Вы проходите 4-й, 5-й раз, то промежутки между сеансами увеличиваются и до двух месяцев.
	</p>
</div>
<p>
</p>

<h2>Противопоказания</h2>
 <br>
<div class="list-block">
	 Лазерную эпиляцию нельзя выполнять при:
	<ul>
		<li>любых опухолях, в том числе доброкачественных;</li>
		<li>кожных заболеваниях: витилиго, псориазе, экземе;</li>
		<li>обострении герпеса;</li>
		<li>острых инфекционных болезнях;</li>
		<li>установленном кардиостимуляторе;</li>
		<li>склонности к образованию келоидных рубцов;</li>
		<li>желании удалить седые волосы.</li>
	</ul>
	 Процедуру необходимо отложить, если Вы беременны, кормите грудью, на время, пока в желаемой области не сойдет загар или не заживут ссадины (царапины).
</div>
<div class="title-block mTop40">
	 <h2>Лазерная эпиляция для мужчин</h2>
</div>
 <br>
<div class="list-block">
	<p>
		 Для сильной половины процедура также необходима:
	</p>
	<ul>
		<li>экономит время: с утра не нужно раньше вставать, чтобы побриться;</li>
		<li>улучшает внешний вид;</li>
		<li>не нужно ходить с воспаленной кожей;</li>
		<li>избавляет от неприятного запаха в области подмышек и паха;</li>
		<li>экономит деньги на станки, пены и лосьоны для бритья;</li>
		<li>предупреждает врастание волос;</li>
		<li>безболезненна.</li>
		<p style="text-align: center;">
 <img width="712" alt="Мужская эпиляция" src="..\..\assets\medialibrary\023\023bb345c1d271696872c43673fc1ac8.jpg" height="388" title="mujskaya_epiluaciya.jpg"><br>
		</p>
		<p>
			 Если Вы находитесь в Москве, приходите делать лазерную эпиляцию в салон Sахар! У нас всегда доступные цены, кроме того, периодически проходят акции, позволяющие экономить еще больше!
		</p>
		<h2>Лазерная эпиляция ног </h2>
		<p>
			 Лазерная эпиляция ног - довольно распространенная процедура у женщин, наиболее востребованная при подготовке к летнему сезону. Однако чтобы иметь гладкую кожу ног летом и не тратить время на удаление нежелательной растительности путем их постоянного бритья, к этому нужно подготовиться заранее. Лазерная эпиляция – наиболее эффективный способ, позволяющий устранить нежелательную растительность навсегда. Однако такая процедура не может быть проведена при свежем загаре. Целесообразнее начать подготовку еще в холодное время. К началу теплого сезона ноги уже будут гладкими, и свежий загар не станет препятствием к применению лазера.
		</p>
		<p>
			 Обращаясь к процедуре лазерного удаления волос, следует помнить, что в промежутках между сеансами, при необходимости, рекомендуется лишь сбривать волоски, не прибегая к ваксингу или шугарингу.
		</p>
		<h2>
		Лазерная эпиляция бикини </h2>
		<p>
		</p>
		<p>
			 Несмотря на то, что процедура проводится исключительно по эстетическим показаниям, в некоторых случаях, при бурном росте волос и затруднении проведения гигиенических мероприятий осуществить эпиляцию области бикини советуют дерматологи. Такая процедура надежно предотвратит раздражение, развитие инфекционного и воспалительного процесса. Она может осуществляться по классической методике, когда границей является область белья, или более широко. Удаление волос в зоне глубокого бикини позволит осуществлять самые активные действия в купальнике, не беспокоясь за эстетическую сторону. Именно такое решение является на данном этапе и самым модным трендом.
		</p>
		<h2>
		Сколько процедур нужно для полного удаления </h2>
		<p>
			 Чтобы воздействовать на весь корневой аппарат определенной зоны, понадобится несколько процедур. Обычно нужно 5-6 сеансов, которые осуществляются с промежутком в 1-1,5 месяца, между проведением последних интервал еще более удлиняется. Однако количество процедур варьирует, что объясняется индивидуальными особенностями. После завершения курса незначительный рост пушковых волос может наблюдаться лишь спустя несколько лет. В этом случае возможно проведение повторной процедуры.
		</p>
		<p>
			 Ждем Вас по адресам:
		</p>
		<li>Пример адреса</li>
		<li>Пример адреса</li>
	</ul>
</div>
 <br>					</div>
				</div>
				<div class="col-xs-12 col-lg-offset-6 col-md-offset-4 col-lg-6 col-md-8">
					<div class="image-text image-guarantee">
						<div class="image-block">
							<img src="..\..\assets\image-guarantee.png" alt="Гарантия">
						</div>
						За все услуги салон несет ответственность и дает гарантию на качество
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<script type="text/javascript">if (window.location.hash != '' && window.location.hash != '#') top.BX.ajax.history.checkRedirectStart('bxajaxid', '2393e41f854131211333e83eeaeaf6bc')</script><div id="comp_2393e41f854131211333e83eeaeaf6bc">
<section class="banner-wrapper wrapper banner-bottom">
    <div class="container">
        <div class="row">
			<div class="col-xs-12 col-md-6">
                                    <div class="text-banner">
                        <div class="title-banner">
                            Оставь заявку и получи скидку 10%</div>
<p style="text-align: left; color: #ffffff; font-size: 10pt;"><em>*Скидка действует только на Пример и на Пример</em></p>
                        <div class="content-banner">
                        </div>
                    </div>
                			</div>
			<div class="col-xs-12 col-md-6">
				<div class="banner-form">
				<img class="girl-form" src="..\..\assets\girl-banner.png">
					<div class="banner-form-container">
						<div class="message">
																		</div>

<form onsubmit="yaCounter51199235.reachGoal('zapis_priem'); return true;" action="/services-and-prices/lazernaya-epilyaciya/" method="POST"><input type="hidden" name="bxajaxid" id="bxajaxid_2393e41f854131211333e83eeaeaf6bc_Ar8Szp" value="2393e41f854131211333e83eeaeaf6bc"><input type="hidden" name="AJAX_CALL" value="Y"><script type="text/javascript">
function _processform_Ar8Szp(){
	var obForm = top.BX('bxajaxid_2393e41f854131211333e83eeaeaf6bc_Ar8Szp').form;
	top.BX.bind(obForm, 'submit', function() {BX.ajax.submitComponentForm(this, 'comp_2393e41f854131211333e83eeaeaf6bc', true)});
	top.BX.removeCustomEvent('onAjaxSuccess', _processform_Ar8Szp);
}
if (top.BX('bxajaxid_2393e41f854131211333e83eeaeaf6bc_Ar8Szp'))
	_processform_Ar8Szp();
else
	top.BX.addCustomEvent('onAjaxSuccess', _processform_Ar8Szp);
</script>
							<input type="hidden" name="sessid" id="sessid_1" value="40c8766cec507d51e9bd781038c629c7">							<input type="text" placeholder="Имя" name="user_name" value="">
							<input type="tel" placeholder="Телефон" name="user_phone" value="">
														<div class="select-container">
								<select name="user_about">
									<option disabled="" selected="">Выберите салон</option>
																			<option value="1">Пример адреса</option>
																			<option value="2">Пример адреса</option>
																	</select>
							</div>

							<label for="submit-banner">
								<input type="hidden" name="PARAMS_HASH" value="1f5dcc9d8446992d14190d8d60b5eeeb">
                                                                								<input id="submit-banner" type="submit" value="Записаться" onclick="yaCounter25978465.reachGoal('zajavka_sait');ga('send', 'event', 'Zajavka','Zapisatsa_sait');return true;">
							</label>
                                                    <div class="polite">
                                                        <div class="">
                                                                                                                        <input name="polite" id="ytFeedback_polite_921252" value="1" type="checkbox" required=""><label for="ytFeedback_polite_921252">Я подтверждаю свое согласие на*:</label>
                                                        <ul>
                                                            <li>На использование в качестве каналов передачи информации, содержащейся в заявке, открытых каналов связи сети Интернет</li>
                                                            <li>На обработку моих персональных данных в соответствии с федеральным законом РФ от 27.07.2006 №152-Ф3 "О персональных данных"</li>
                                                        </ul>
                                                        </div>
                                                    </div>
						</form>
					</div>
				</div>
			</div>
		</div>
    </div>
</section></div><script type="text/javascript">if (top.BX.ajax.history.bHashCollision) top.BX.ajax.history.checkRedirectFinish('bxajaxid', '2393e41f854131211333e83eeaeaf6bc');</script><script type="text/javascript">top.BX.ready(BX.defer(function() {window.AJAX_PAGE_STATE = new top.BX.ajax.component('comp_2393e41f854131211333e83eeaeaf6bc'); top.BX.ajax.history.init(window.AJAX_PAGE_STATE);}))</script>





		</div>

<footer id="footer" class="wrapper footer">
    <div class="scroll-to-top"></div>
    <div class="top-footer">
        <div class="footer-wrap logo-footer">
            <a href="..\..\index.htm">

				<img src="..\..\assets\footer-logo.png" alt="Салон Сахар">
            </a>
            <div class="social-icon">
				<ul>
	<li> <a href="https://www.instagram.com/salon.saxap/" rel="nofollow"><i class="mdi mdi-instagram"></i></a> </li>
</ul>            </div>
        </div>
        <div class="footer-wrap footer-nav">
            <div class="title-footer">
                Меню
            </div>
            <div class="footer-list">





<ul>



    <li>
		<a href="..\..\price\index.htm">Цены</a>
    </li>



    <li>
		<a href="..\..\actions\index.htm">Акции</a>
    </li>



    <li>
		<a href="..\..\contacts\index.htm">Контакты</a>
    </li>


</ul>


            </div>
        </div>
        <div class="footer-wrap footer-contact">
            <div class="title-footer">
                Контакты
            </div>
            <div class="contact-left">
                <ul>
                    <li class="footer-address">
						<span>Томск</span>
            <span>Барнаул</span>                     </li>
                    <li class="footer-city">
						<span>Пример адреса</span>
<span>Пример адреса</span>
                   </li>
                </ul>
            </div>
            <div class="contact-right">
                <ul>
                    <li class="footer-tel">
						<a href="tel:89999999999">8 (999) 999 99 99</a>                    </li>
                    <li class="footer-time">
						<span>ПН-ВС&nbsp; &nbsp; 9:00 - 21:00</span>					</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
	<!-- scripts
___________________________________________________________________________-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="..\..\assets\ie-detector.js"></script>
<script src="..\..\assets\common.js"></script>
<script src="..\..\assets\dop.js"></script>

<!-- BEGIN CLICKTEX CODE {literal} -->
<script type="text/javascript" charset="utf-8" async="async" src="//www.clicktex.ru/code/33166"></script>
<!-- {/literal} END CLICKTEX CODE -->


<!-- Yandex.Metrika counter -->
<script type="text/javascript">
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(25978465, "init", {
        id:25978465,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/25978465" style="position:absolute; left:-9999px;" alt=""></div></noscript>
<!-- /Yandex.Metrika counter -->
    <!-- BEGIN CLICKTEX CODE {literal} -->
    <script type="text/javascript" charset="utf-8" async="async" src="//code.clicktex.ru/33166"></script>
    <!-- {/literal} END CLICKTEX CODE -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="..\..\assets\application.css">
	<script src="..\..\assets\ie-detector.js"></script>
	<script src="..\..\assets\modernizr.js"></script>

	<script src="..\..\assets\libs.js"></script>
    <script src="..\..\assets\jquery.event.move.js"></script>
    <script src="..\..\assets\jquery.twentytwenty.js"></script>

    <script src="..\..\assets\custom.js"></script>
<style></style></body></html>
