<!DOCTYPE html>
<html lang="ru">
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-46255825-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-46255825-2');
</script>

	<title>Цены на услуги лазерной эпиляции в Томске, Барнауле | Салон красоты "Sахар"</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if lte IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->

			<link rel="shortcut icon" href="..\assets\favicon.ico">
	<!--    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>-->
	<link rel="stylesheet" href="..\assets\poiskpro.scss">
	<link rel="stylesheet" href="..\assets\twenty.scss">
	<link rel="stylesheet" href="..\assets\animate.scss">
	<link rel="stylesheet" href="..\assets\s1.scss">
	<!--<link rel="stylesheet" href="/include/css/dop_s1.css"/>-->

	<script src="https://www.google.com/recaptcha/api.js" async="" defer=""></script>
</head>
<body class="body_s1">
<!--<div class="holiday"><img alt="Баннер" src="/upload/template/image/Banner-9-may.png"></div>-->
<!--<div class="wrapper_link">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="link_block">
                    <div class="inner_link_block">
                        <p class="text">При оформлении <strong>онлайн - записи</strong> с сайта</p>
                        <p class="discont">-10<span>%</span></p>
                    </div>
                    <div class="close_link"></div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<div id="page-wrapper" class="page-wrapper">
			<header id="header" class="wrapper header">
			<div class="top-header">
				<div class="social-icon">
					<ul>
	<li> <a href="https://www.instagram.com/salon.saxap/" rel="nofollow"><i class="mdi mdi-instagram"></i></a> </li>
</ul>				</div>
				<div class="header-info">
					<div class="container">
						<!--<img alt="Баннер" src="/upload/template/image/dog.png" style="height: 60px;" />-->
	                                    <!--<img src="/upload/template/image/8_march.png" style="height: 60px;" />-->
						<!--<img alt="Баннер" src="/upload/template/image/hurt.png"/>-->
												<div class="inf-header infh-time">
							9:00 - 21:00						</div>
						<div class="inf-header infh-address">
							Томск, Барнаул						</div>
					</div>
				</div>
				<div class="header-tel">
					<a onclick="ym(25978465, 'reachGoal', 'header_phone'); return true;" href="tel:+79999999999">+7 (999) 999-99-99</a>				</div>
			</div>

	<!--		<div class="bot-header february-23">-->
			<div class="bot-header">
				<div class="header-btn open-nav"></div>
				<div class="container">
					<div class="logo-block">
						<a href="..\">

							<img src="..\assets\logo-top.png" alt="Салон Сахар">						</a>
					</div>
					<div class="top-nav">






<ul>




                            <li>
                                <a href="..\price" class="active">Цены</a>
                            </li>














                            <li>
                                <a href="..\actions">Акции</a>
                            </li>












                            <li>
                                <a href="..\contacts">Контакты</a>
                            </li>









                    </ul>

					</div>
				</div>
			</div>
		</header>



                <div class="tab-content">
                    <div id="tab_dep" class="tab active">
                        <div class="price-wrap price_poiskpro">
	<div class="name-table">
		 эпиляция
	</div>
	<div class="title-table">
		<div class="left-block">
			 Название процедуры
		</div>
		<div class="right-block">
			 Цена, руб.
		</div>
	</div>
	<div class="price-table">
		<div class="price-wrap-table Сахарная">
			<table>
			<thead>
			<tr>
				<td>
 <br>
				</td>
				<td>
					 Восковая
				</td>
				<td>
					 Сахарная
				</td>
				<td>
					 Лазерная
				</td>
				<td>
					 Энзимная
				</td>
				<td style="padding-right: 10px;">
					 Эпил Фри
				</td>
				<td>
					 Полимерный воск
				</td>
				<td style="padding-right: 10px;">
					 SKIN'S
				</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					 Подмышечная впадина
				</td>
				<td data-title="Восковая">
					 150
				</td>
				<td data-title="Сахарная">
					 250
				</td>
				<td data-title="Лазерная">
					 900
				</td>
				<td data-title="Энзимная">
					 250
				</td>
				<td data-title="Эпил Фри">
					 800
				</td>
				<td data-title="Полимерный воск">
					450
				</td>
				<td data-title="SKIN'S">
					 550
				</td>
			</tr>
			<tr>
				<td>
					 Бикини трусики
				</td>
				<td data-title="Восковая">
					 300
				</td>
				<td data-title="Сахарная">
					 300
				</td>
				<td data-title="Лазерная">
					 1500
				</td>
				<td data-title="Энзимная">
					 300
				</td>
				<td data-title="Эпил Фри">
					 1200
				</td>
				<td data-title="Полимерный воск">
					500
				</td>
				<td data-title="SKIN'S">
					 800
				</td>
			</tr>
			<tr>
				<td>
					 Бикини глубокое
				</td>
				<td data-title="Восковая">
					 600
				</td>
				<td data-title="Сахарная">
					 600
				</td>
				<td data-title="Лазерная">
					 3000
				</td>
				<td data-title="Энзимная">
					 600
				</td>
				<td data-title="Эпил Фри">
					 2000
				</td>
				<td data-title="Полимерный воск">
					900
				</td>
				<td data-title="SKIN'S">
					 1300
				</td>
			</tr>
			<tr>
				<td>
					 Ноги до колен
				</td>
				<td data-title="Восковая">
					 400
				</td>
				<td data-title="Сахарная">
					 600
				</td>
				<td data-title="Лазерная">
					 3000
				</td>
				<td data-title="Энзимная">
					 500
				</td>
				<td data-title="Эпил Фри">
					 2000
				</td>
				<td data-title="Полимерный воск">
					1100
				</td>
				<td data-title="SKIN'S">
					 1400
				</td>
			</tr>
			<tr>
				<td>
					 Ноги выше колен
				</td>
				<td data-title="Восковая">
					 350
				</td>
				<td data-title="Сахарная">
					 600
				</td>
				<td data-title="Лазерная">
					 3000
				</td>
				<td data-title="Энзимная">
					 500
				</td>
				<td data-title="Эпил Фри">
					 2000
				</td>
				<td data-title="Полимерный воск">
					1100
				</td>
				<td data-title="SKIN'S">
					 1400
				</td>
			</tr>
			<tr>
				<td>
					 Ноги полностью
				</td>
				<td data-title="Восковая">
					 750
				</td>
				<td data-title="Сахарная">
					 1200
				</td>
				<td data-title="Лазерная">
					 5000
				</td>
				<td data-title="Энзимная">
					 1000
				</td>
				<td data-title="Эпил Фри">
					 4000
				</td>
				<td data-title="Полимерный воск">
					2000
				</td>
				<td data-title="SKIN'S">
					 2600
				</td>
			</tr>
			<tr>
				<td>
					 Руки до локтя
				</td>
				<td data-title="Восковая">
					 200
				</td>
				<td data-title="Сахарная">
					 400
				</td>
				<td data-title="Лазерная">
					 1500
				</td>
				<td data-title="Энзимная">
					 200
				</td>
				<td data-title="Эпил Фри">
					 1500
				</td>
				<td data-title="Полимерный воск">
					600
				</td>
				<td data-title="SKIN'S">
					 800
				</td>
			</tr>
			<tr>
				<td>
					 Руки полностью
				</td>
				<td data-title="Восковая">
					 400
				</td>
				<td data-title="Сахарная">
					 800
				</td>
				<td data-title="Лазерная">
					 3000
				</td>
				<td data-title="Энзимная">
					 400
				</td>
				<td data-title="Эпил Фри">
					 3000
				</td>
				<td data-title="Полимерный воск">
					1100
				</td>
				<td data-title="SKIN'S">
					 1400
				</td>
			</tr>
			<tr>
				<td>
					 Живот, спина, грудь (цена указана за одну зону)
				</td>
				<td data-title="Восковая">
					 от 200
				</td>
				<td data-title="Сахарная">
					 от 400
				</td>
				<td data-title="Лазерная">
					 от 700
				</td>
				<td data-title="Энзимная">
					 300
				</td>
				<td data-title="Эпил Фри">
					 800
				</td>
				<td data-title="Полимерный воск">
					700
				</td>
				<td data-title="SKIN'S">
					 900
				</td>
			</tr>
			<tr>
				<td>
					 Область лица
				</td>
				<td data-title="Восковая">
					 дог.
				</td>
				<td data-title="Сахарная">
					 дог.
				</td>
				<td data-title="Лазерная">
					 700
				</td>
				<td data-title="Энзимная">
					 нельзя
				</td>
				<td data-title="Эпил Фри">
					 400
				</td>
				<td data-title="Полимерный воск">
					200
				</td>
				<td data-title="SKIN'S">
					 300
				</td>
			</tr>
			<tr>
				<td>
					 Кисти рук
				</td>
				<td data-title="Восковая">
					 50
				</td>
				<td data-title="Сахарная">
					 100
				</td>
				<td data-title="Лазерная">
					 -
				</td>
				<td data-title="Энзимная">
					 -
				</td>
				<td data-title="Эпил Фри">
					 -
				</td>
				<td data-title="Полимерный воск">
					 &nbsp;
				</td>
				<td data-title="SKIN'S">
					 -
				</td>
			</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>



                    <div id="tab_par" class="tab">
                                            </div>

                </div>
            </div>
        </div>
    </section>




<script type="text/javascript">if (window.location.hash != '' && window.location.hash != '#') top.BX.ajax.history.checkRedirectStart('bxajaxid', 'de7dbea89789a1834cec4019cbc272f4')</script><div id="comp_de7dbea89789a1834cec4019cbc272f4">
<section class="banner-wrapper wrapper banner-bottom">
    <div class="container">
        <div class="row">
			<div class="col-xs-12 col-md-6">
                                    <div class="text-banner">
                        <div class="title-banner">
                            Оставь заявку и получи скидку 10%</div>
<p style="text-align: left; color: #ffffff; font-size: 10pt;"><em>*Скидка действует только на Адрес и на Адрес</em></p>
                        <div class="content-banner">
                        </div>
                    </div>
                			</div>
			<div class="col-xs-12 col-md-6">
				<div class="banner-form">
				<img class="girl-form" src="..\assets\girl-banner.png">
					<div class="banner-form-container">
						<div class="message">
																		</div>

<form onsubmit="yaCounter51199235.reachGoal('zapis_priem'); return true;" action="/price/" method="POST"><input type="hidden" name="bxajaxid" id="bxajaxid_de7dbea89789a1834cec4019cbc272f4_8BACKi" value="de7dbea89789a1834cec4019cbc272f4"><input type="hidden" name="AJAX_CALL" value="Y"><script type="text/javascript">
function _processform_8BACKi(){
	var obForm = top.BX('bxajaxid_de7dbea89789a1834cec4019cbc272f4_8BACKi').form;
	top.BX.bind(obForm, 'submit', function() {BX.ajax.submitComponentForm(this, 'comp_de7dbea89789a1834cec4019cbc272f4', true)});
	top.BX.removeCustomEvent('onAjaxSuccess', _processform_8BACKi);
}
if (top.BX('bxajaxid_de7dbea89789a1834cec4019cbc272f4_8BACKi'))
	_processform_8BACKi();
else
	top.BX.addCustomEvent('onAjaxSuccess', _processform_8BACKi);
</script>
							<input type="hidden" name="sessid" id="sessid" value="40c8766cec507d51e9bd781038c629c7">							<input type="text" placeholder="Имя" name="user_name" value="">
							<input type="tel" placeholder="Телефон" name="user_phone" value="">
														<div class="select-container">
								<select name="user_about">
									<option disabled="" selected="">Выберите салон</option>
																			<option value="1">Адрес</option>
																			<option value="2">Адрес</option>
																	</select>
							</div>

							<label for="submit-banner">
								<input type="hidden" name="PARAMS_HASH" value="3dad49a6ea90e2b288f577b4bb822f12">
                                                                								<input id="submit-banner" type="submit" value="Записаться" onclick="yaCounter25978465.reachGoal('zajavka_sait');ga('send', 'event', 'Zajavka','Zapisatsa_sait');return true;">
							</label>
                                                    <div class="polite">
                                                        <div class="">
                                                                                                                        <input name="polite" id="ytFeedback_polite_380567" value="1" type="checkbox" required=""><label for="ytFeedback_polite_380567">Я подтверждаю свое согласие на*:</label>
                                                        <ul>
                                                            <li>На использование в качестве каналов передачи информации, содержащейся в заявке, открытых каналов связи сети Интернет</li>
                                                            <li>На обработку моих персональных данных в соответствии с федеральным законом РФ от 27.07.2006 №152-Ф3 "О персональных данных"</li>
                                                        </ul>
                                                        </div>
                                                    </div>
						</form>
					</div>
				</div>
			</div>
		</div>
    </div>
</section></div><script type="text/javascript">if (top.BX.ajax.history.bHashCollision) top.BX.ajax.history.checkRedirectFinish('bxajaxid', 'de7dbea89789a1834cec4019cbc272f4');</script><script type="text/javascript">top.BX.ready(BX.defer(function() {window.AJAX_PAGE_STATE = new top.BX.ajax.component('comp_de7dbea89789a1834cec4019cbc272f4'); top.BX.ajax.history.init(window.AJAX_PAGE_STATE);}))</script>


<footer id="footer" class="wrapper footer">
    <div class="scroll-to-top"></div>
    <div class="top-footer">
        <div class="footer-wrap logo-footer">
            <a href="..\">

				<img src="..\assets\footer-logo.png" alt="Салон Сахар">
            </a>
            <div class="social-icon">
				<ul>
	<li> <a href="https://www.instagram.com/salon.saxap/" rel="nofollow"><i class="mdi mdi-instagram"></i></a> </li>
</ul>            </div>
        </div>
        <div class="footer-wrap footer-nav">
            <div class="title-footer">
                Меню
            </div>
            <div class="footer-list">





<ul>



    <li>
		<a href="..\price" class="active">Цены</a>
    </li>



    <li>
		<a href="..\actions">Акции</a>
    </li>



    <li>
		<a href="..\contacts">Контакты</a>
    </li>


</ul>


            </div>
        </div>
        <div class="footer-wrap footer-contact">
            <div class="title-footer">
                Контакты
            </div>
            <div class="contact-left">
                <ul>
                    <li class="footer-address">
						<span>Томск</span>
            <span>Барнаул</span>                    </li>
                </ul>
            </div>
            <div class="contact-right">
                <ul>
                    <li class="footer-tel">
						<a href="tel:89999999999">8 (999) 999 99 99</a>                    </li>
                    <li class="footer-time">
						<span>ПН-ВС&nbsp; &nbsp; 9:00 - 21:00</span>					</li>
                </ul>
            </div>
        </div>
    </div>
</footer>

	<!-- scripts
___________________________________________________________________________-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<script src="..\assets\ie-detector.js"></script>
<script src="..\assets\common.js"></script>
<script src="..\assets\dop.js"></script>

<!-- BEGIN CLICKTEX CODE {literal} -->
<script type="text/javascript" charset="utf-8" async="async" src="//www.clicktex.ru/code/33166"></script>
<!-- {/literal} END CLICKTEX CODE -->
<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = 'F57J1aSwNC';var d=document;var w=window;function l(){var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})();
</script>
<!-- {/literal} END JIVOSITE CODE -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(25978465, "init", {
        id:25978465,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/25978465" style="position:absolute; left:-9999px;" alt=""></div></noscript>
<!-- /Yandex.Metrika counter -->
    <!-- BEGIN CLICKTEX CODE {literal} -->
    <script type="text/javascript" charset="utf-8" async="async" src="//code.clicktex.ru/33166"></script>
    <!-- {/literal} END CLICKTEX CODE -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="..\assets\application.css">
	<script src="..\assets\ie-detector.js"></script>
	<script src="..\assets\modernizr.js"></script>

	<script src="..\assets\libs.js"></script>
    <script src="..\assets\jquery.event.move.js"></script>
    <script src="..\assets\jquery.twentytwenty.js"></script>

    <script src="..\assets\custom.js"></script>
<style></style></body></html>
